*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
}
